/* Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  font-family: "Outfit", sans-serif;
}
/* font-size */
.fs-24{
  font-size: 24px!important;
}
.fs-13{
  font-size: 13px!important;
}
.fs-15{
  font-size: 15px!important;
}
.fs-45{
  font-size: 45px!important;
}
.fs-28{
  font-size: 28px!important;
}
/* Colors */
.text-pg{
  color: #545454!important;
}
.text-blue{
  color: #2563EB!important;
}
/* Background colors */
.bg-blue{
  background-color: #2563EB!important;
}